---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/Fate%20Twisted?api_key=729364d3-681b-437a-b225-5de137d7b372
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"fatetwisted":{"id":65550074,"name":"Fate Twisted","profileIconId":666,"summonerLevel":30,"revisionDate":1434234241000}}'
  recorded_at: Sun, 14 Jun 2015 00:30:56 GMT
recorded_with: VCR 2.9.3
