---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.3/game/by-summoner/19240416/recent?api_key=729364d3-681b-437a-b225-5de137d7b372
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"summonerId":19240416,"games":[{"gameId":1854810686,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"NORMAL","mapId":11,"teamId":100,"championId":91,"spell1":4,"spell2":14,"level":30,"ipEarned":76,"createDate":1434167907979,"fellowPlayers":[{"summonerId":49091527,"teamId":200,"championId":80},{"summonerId":65663895,"teamId":200,"championId":245},{"summonerId":62369018,"teamId":200,"championId":111},{"summonerId":20757731,"teamId":100,"championId":115},{"summonerId":49251731,"teamId":200,"championId":11},{"summonerId":36450007,"teamId":100,"championId":245},{"summonerId":58049776,"teamId":200,"championId":429},{"summonerId":65084000,"teamId":100,"championId":24},{"summonerId":67360536,"teamId":100,"championId":29}],"stats":{"level":10,"goldEarned":8664,"numDeaths":2,"barracksKilled":1,"turretsKilled":3,"minionsKilled":72,"championsKilled":10,"goldSpent":8083,"totalDamageDealt":49529,"totalDamageTaken":9232,"doubleKills":1,"killingSprees":3,"largestKillingSpree":5,"team":100,"win":true,"neutralMinionsKilled":1,"largestMultiKill":2,"physicalDamageDealtPlayer":45837,"physicalDamageTaken":6914,"magicDamageTaken":1921,"largestCriticalStrike":485,"timePlayed":1154,"totalHeal":1203,"totalUnitsHealed":3,"assists":6,"item0":3097,"item1":2003,"item2":3078,"item3":3142,"item5":1001,"item6":3340,"physicalDamageDealtToChampions":9203,"totalDamageDealtToChampions":9587,"trueDamageDealtPlayer":3691,"trueDamageDealtToChampions":384,"trueDamageTaken":396,"wardPlaced":6,"neutralMinionsKilledEnemyJungle":1,"totalTimeCrowdControlDealt":280,"playerRole":2}},{"gameId":1854758957,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"NORMAL","mapId":11,"teamId":100,"championId":26,"spell1":4,"spell2":14,"level":30,"ipEarned":87,"createDate":1434166277708,"fellowPlayers":[{"summonerId":60296511,"teamId":200,"championId":17},{"summonerId":62369018,"teamId":200,"championId":67},{"summonerId":20757731,"teamId":100,"championId":115},{"summonerId":66271913,"teamId":200,"championId":11},{"summonerId":64610067,"teamId":200,"championId":16},{"summonerId":65084000,"teamId":100,"championId":56},{"summonerId":27702107,"teamId":200,"championId":268},{"summonerId":23297067,"teamId":100,"championId":15},{"summonerId":67360536,"teamId":100,"championId":245}],"stats":{"level":16,"goldEarned":9871,"numDeaths":4,"barracksKilled":1,"minionsKilled":43,"championsKilled":8,"goldSpent":8950,"totalDamageDealt":62513,"totalDamageTaken":17049,"killingSprees":1,"largestKillingSpree":8,"team":100,"win":true,"neutralMinionsKilled":7,"largestMultiKill":1,"physicalDamageDealtPlayer":9356,"magicDamageDealtPlayer":53118,"physicalDamageTaken":5817,"magicDamageTaken":10470,"timePlayed":1826,"totalHeal":3967,"totalUnitsHealed":1,"assists":10,"item0":3303,"item1":3027,"item2":3020,"item3":3174,"item4":1058,"item6":3340,"magicDamageDealtToChampions":13774,"physicalDamageDealtToChampions":2245,"totalDamageDealtToChampions":16057,"trueDamageDealtPlayer":38,"trueDamageDealtToChampions":38,"trueDamageTaken":761,"wardPlaced":9,"neutralMinionsKilledYourJungle":7,"totalTimeCrowdControlDealt":154,"playerRole":2,"playerPosition":4}},{"gameId":1854730414,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"NORMAL","mapId":11,"teamId":200,"championId":16,"spell1":4,"spell2":14,"level":30,"ipEarned":260,"createDate":1434163933723,"fellowPlayers":[{"summonerId":20757731,"teamId":200,"championId":115},{"summonerId":60760304,"teamId":100,"championId":22},{"summonerId":53060532,"teamId":200,"championId":111},{"summonerId":60239478,"teamId":100,"championId":43},{"summonerId":66180769,"teamId":100,"championI[...]
