---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/Fate%20Twisted,Summer%20Sparkle,Fuszion,A%20Wild%20AP%20Sona,grazer,Guardian%20Janna?api_key=729364d3-681b-437a-b225-5de137d7b372
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"summersparkle":{"id":60004918,"name":"Summer Sparkle","profileIconId":14,"summonerLevel":30,"revisionDate":1434090852000},"fatetwisted":{"id":65550074,"name":"Fate
        Twisted","profileIconId":666,"summonerLevel":30,"revisionDate":1434234241000},"guardianjanna":{"id":41215093,"name":"Guardian
        Janna","profileIconId":21,"summonerLevel":30,"revisionDate":1434240638000},"awildapsona":{"id":47540501,"name":"A
        Wild AP Sona","profileIconId":642,"summonerLevel":30,"revisionDate":1434225217000},"fuszion":{"id":19240416,"name":"Fuszion","profileIconId":783,"summonerLevel":30,"revisionDate":1434167908000},"grazer":{"id":21186676,"name":"grazer","profileIconId":22,"summonerLevel":30,"revisionDate":1433394442000}}'
  recorded_at: Sun, 14 Jun 2015 00:40:18 GMT
recorded_with: VCR 2.9.3
