<% if @lolteam.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@lolteam.errors.count, "error") %>.
      <ul>
      <% @lolteam.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
