// Place all the styles related to the bets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bets-join {
  a {
    color: #FFF;
    font-weight: 800;
    &:hover {

    }
  }
}

.list-style-none {
  list-style-type: none;
}

.noobbets-well-heading {
  padding: 0px;
  padding-top: 2%;
  padding-bottom: 5%;
}

// ---------* ALL BELOW INFORMATION IS OVERWRITTEN BECAUSE OF PLACEMENT //

// $bgBetsDefault      : #d45c3b;
// $bgBetsHighlight    : #dd876f;
// $colBetsDefault     : #ecf0f1;
// $colBetsHighlight   : #ecdbff;
// $betsDropdown       : false;

// // .panel {
// //   text-align: center;
// //   .heading {
// //     background-color: $bgBetsDefault;
// //     border-radius: 2px;
// //     color: white;
// //   }
// // }

// // .bet-panes {
// //   border: 2px solid $bgBetsHighlight;
// // }

// .navbar-default {
//   background-color: $bgBetsDefault;
//   border-color: $bgBetsHighlight;
//   .navbar-brand {
//     color: $colBetsDefault;
//     &:hover, &:focus {
//       color: $colBetsHighlight; }}
//   .navbar-text {
//     color: $colBetsDefault; }
//   .navbar-nav {
//     > li {
//       > a {
//         color: $colBetsDefault;
//         &:hover,  &:focus {
//           color: $colBetsHighlight; }}
//       @if $betsDropdown {
//         > .betsDropdown-menu {
//           background-color: $bgBetsDefault;
//           > li > a {
//             color: $colBetsDefault;
//             &:hover,  &:focus {
//               color: $colBetsHighlight;
//               background-color: $bgBetsHighlight; }}
//           .divider {
//             background-color: $bgBetsHighlight;}}}
//     }
//     > .active {
//       > a, > a:hover, > a:focus {
//         color: $colBetsHighlight;
//         background-color: $bgBetsHighlight; }}
//     > .open {
//       > a, > a:hover, > a:focus {
//         color: $colBetsHighlight;
//         background-color: $bgBetsHighlight; }}}
//   .navbar-toggle {
//     border-color: $bgBetsHighlight;
//     &:hover, &:focus {
//       background-color: $bgBetsHighlight; }
//     .icon-bar {
//       background-color: $colBetsDefault; }}
//   .navbar-collapse,
//   .navbar-form {
//     border-color: $colBetsDefault; }
//   .navbar-link {
//     color: $colBetsDefault;
//     &:hover {
//       color: $colBetsHighlight; }}}
// @media (max-width: 767px) {
//   .navbar-default .navbar-nav .open .betsDropdown-menu {
//     > li > a {
//       color: $colBetsDefault;
//       &:hover, &:focus {
//         color: $colBetsHighlight; }}
//     > .active {
//       > a, > a:hover, > a:focus {
//         color: $colBetsHighlight;
//         background-color: $bgBetsHighlight; }}}
// }



